html{
    font-size: 62.5%;
}

.presentacion{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.fondoGradiente{
    background-image: linear-gradient(100deg,#F5ACDA,#FBF24B,#E2AEEC);
}

#menorAMayor{
    margin: 0 auto;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    bottom: 0;
}

.footerText{
    font-size: 2rem;
}




